.lowerLeft{
    display: flex;
    background: #282828;
    color: white;
    justify-content: space-between;
    padding-top:  16px ;
    padding-left: 120px;
    padding-right: 120px;
}


.lowerLeft ul{
    list-style: none;

}

.lowerLeft ul li{
    margin-bottom:8px ;
}

.lowerRight{
    text-align: right;
}

